/*通用部分*/
*{
	border:0;
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	font-size:14px;
	text-decoration:none;
}
/*body*/
body{
	height:660px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	background-image:url(../images/469640.jpg);
	background-size:cover;
}
#section{
	width:270px;
	height:370px;
	border-radius:10px;
	border:2px solid black;
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:flex-start;
	transition:all 0.5s ease 0s;
	background-color:white;
}
#section:hover{
	box-shadow:0 0 5px blue;
}

/*第一部分*/
#section-one{

}
/*第二部分*/
#section-two{

}
#section-two form{
	width:100%;
	height:340px;
	margin-top:40px;
}
#Username,#passwordtext{
	font-family:"隶书";
	font-size:20px;
}
#name,#password{
	margin-top:10px;
	margin-bottom:10px;
	width:260px;
	height:25px;
	border:1px solid black;
	border-radius:5px;
	transition:all 0.1s ease 0s;
}
#name:focus,#password:focus{
	width:270px;
	height:30px;
	box-shadow:0 0 5px blue;
}
#remember{
	margin-top:10px;
	margin-bottom:10px;
	width:15px;
	height:15px;
	margin-right:5px;
}
#remember:hover{
	box-shadow:0 0 1px black;
}
#remember + p{
	display:inline;
	margin-left:5px;
	letter-spacing:1px;
}
#signin{
	margin-top:20px;
	margin-bottom:20px;
	width:270px;
	height:40px;
	background-color:blue;
	border-radius:15px;
	font-size:20px;
	color:white;
}
#singin:hover{
	box-shadow:0 0 5px blue;
}
#forget{
	letter-spacing:1px;
}
#signup{
	margin-top:20px;
	letter-spacing:1px;
}
/*第三部分*/
#section-three{

}
